/* style.css */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* Center horizontally */
  justify-content: center;

  /* Center vertically */
  align-items: center;
}

h2 {
  font-size: 25pt;
}
